{% extends 'layout.html' %}

{% block content %}

<div style="float:right;">
  <span>David Trezeguet</span>
  <a href="{% url login %}">Logout</a>
</div>

<h2>Agenda</h2>

<div>
  <form method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    {{ schedule_formset.management_form }}
    <div><h3>Lunes</h3>{{ schedule_formset.forms.0 }}</div>
    <div><h3>Martes</h3>{{ schedule_formset.forms.1 }}</div>
    <div><h3>Miercoles</h3>{{ schedule_formset.forms.2 }}</div>
    <div><h3>Jueves</h3>{{ schedule_formset.forms.3 }}</div>
    <div><h3>Viernes</h3>{{ schedule_formset.forms.4 }}</div>
    <input type="submit" name="submit" value="Enviar" />
  </form>
</div>

{% endblock content %}